.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.pdf
*.html
.cache
.Rcache
*.o
*.so
*.dll
*.tar.gz
*.zip
.DS_Store
Thumbs.db
vignettes/*.aux
vignettes/*.log
vignettes/*.out
vignettes/*.tex
vignettes/*.bbl
vignettes/*.blg
vignettes/*.pdf
doc/
Meta/
